@charset "utf-8";

// **** Button style

// 레이아웃 정의

button {
  font-size: 1.6rem;ㅅ
}

.button-style01 {
  height: 3.8rem;
  padding: 0 3.2rem;
  color: #fff;
  background-color: $color-blue;
  border-radius: 20px; //TODO: 임시
}

.button-style02 {
  @extend .button-style01;
  background-color: #aaa;

  &.active {
    background-color: $color-blue;
  }
}

.button-style03 {
  font-size: 1.4rem;
  color: #aaa;
  text-decoration: underline;
}

// 사이즈 정의

.size-full {
  width: 100%;
}
