@charset "utf-8";

// **** Tab style

///// 변수 리스트 /////
$ly-tab-padding: 2rem;
////////////////////

.tab {
  @include flexbox;
  @include align-items(center);
  width: 100%;
  padding: 0 $ly-tab-padding;
  box-sizing: border-box;

  .tab-item {
    @include flex-grow(1);
    position: relative;
    width: 20%;
    height: 40px;
    font-size: 1.4rem;
    border-bottom: 2px solid blue;

    &.active:after {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: blue;
      content: "";
    }
  }
}
