@charset "utf-8";


// **** COLOR PALLETE ****
$color-sub: #181459; //짙은 남색
$color-damu: #211545; //짙은 보라색

// **** z-index ****
$z-page-header: 100;

// **** path ****
$path-image: "../images/";
$path-font: "../fonts/";

// **** font-weight ****
$fw-b: 600;
$fw-eb: 800;

// **** radio-style ****
$radio-button: (
  style01: (
    normal: 25% -1px,
    active: 50% -1px
  )
);
