@charset "utf-8";

// common style

// **** VARIABLES ****
$ly-header-height: 7rem; //페이지 헤더 높이
//////////////////////

// 페이지 헤더
.page-header {
  z-index: $z-page-header;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: $ly-header-height;
  text-align: center;
  line-height: $ly-header-height;
  background-color: #fff;

  .page-title {
    color: #323232;
    font-size: 1.6rem;
    font-weight: $fw-b
  }
}

// 페이지 바디
.page-body {
  position: absolute;
  top: $ly-header-height;
  left: 0;
  width: 100%;
  height: auto;
}

// 버튼이 아래로 나열되는 영역
.button-bottom-area {
  position: relative;
  @include flexbox;
  @include justify-content(center);
  text-align: center;
  margin-top: 4rem;

  button:not(:first-child) {
    margin-top: 1rem;
  }
}

//에러 메시지
.error-style01 {
  font-size: 1.1rem;
  color: red;
}

//숨김 처리
.display-none {
  display: none;
}
